<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!-- User's Posts Section -->
<div id="profileMyPosts" class="content d-none row">
    <div class="col-md-8 offset-md-2">
      <div class="post-container">
        <h1 class="post-title">Title of the Post</h1>
        <p class="post-date">Published on June 1, 2023</p>
        <!-- <img class="post-photo" src="./images/enset.png" alt="Post Photo"> -->
        <div class="post-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt fermentum dapibus. Suspendisse
            mollis posuere sem vitae faucibus. Ut id dapibus tellus, sit amet consequat turpis. Phasellus nec
            fermentum tortor, non bibendum felis. Nulla facilisi. Nam vel consectetur tellus.</p>
          <p>Nulla maximus, purus at posuere cursus, lacus massa lobortis urna, sit amet dapibus purus turpis non ex.
            Fusce vel tellus dapibus, varius lectus nec, interdum metus. Nulla tempus, mauris ut convallis posuere,
            elit risus rutrum odio, non facilisis ipsum ante et est.</p>
        </div>
        <div class="comment-container">
          <h3>Comments</h3>
          <div class="comment">
            <p class="comment-author">John Doe</p>
            <p class="comment-date">Posted on June 2, 2023</p>
            <p class="comment-content">Great post! I really enjoyed reading it.</p>
          </div>
          <div class="comment">
            <p class="comment-author">Jane Smith</p>
            <p class="comment-date">Posted on June 3, 2023</p>
            <p class="comment-content">Thanks for sharing this valuable information.</p>
          </div>
        </div>
      </div>
    </div>
  </div>