<!DOCTYPE html>
<html>
  <head>
    <title>Web Project</title>
    <!-- tab icon -->
    <link rel="icon" href="./images/enset.png">
    <!-- adding cdn of bootstap and jquery and bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Adding style.css and script.js  -->
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js"></script>
    
  </head>
  <body>

    <!-- navbar -->
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand nav-link" href="#" data-link="home">
          <img src="./images/enset.png" alt="" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item px-2">
              <a class="nav-link" href="#" data-link="home">Home</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#" data-link="about">About</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#" data-link="contact">Contact</a>
            </li>
            <% if (typeof tokenCookie === 'undefined') { %>
              <li class="nav-item px-2">
                <a class="nav-link" href="#" data-link="login">Sign In</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" href="#" data-link="register">Sign Up</a>
              </li>
            <% } else {%>
              <li class="nav-item px-2">
                <a class="nav-link" href="./logout" id="logoutButton">Sign Out</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

<div class="container">

    <!-- Hidden alert element that notifies login success  -->
    <div id="successAlert" class="alert alert-success" style="display: none;">
      Logged in successfully!
      <button type="button" id="closeAlertBtn" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Hidden alert element that notifies logout success  -->
    <div id="logoutAlert" class="alert alert-success" style="display: none;">
      Logged Out successfully!
      <button type="button" id="closeAlertBtnLogout" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- div for to display errors  -->
    <div id="errorDiv" style="display: none;">
      <span id="errorDivP">czed</span>
      <button type="button" id="incorrectDataBtn" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    

    <!-- Home section -->
    <div id="home" class="content">
        <h1>Welcome to the Blog!</h1>
        <p>This is the home page of the blog.</p>
        <div class="row">
          <div class="col-md-8">
            <div id="postTitles"></div> <!-- Container for displaying post titles -->
          </div>
          <!-- sidebar to show categories -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2>Categories</h2>
                <ul class="list-group" id="categoriesList">
                  
                </ul>
              </div>
            </div>
          </div>
          <!-- sidebar to show categories -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2>Categories</h2>
                <ul class="list-group" id="categoriesList">
                  <li class="list-group-item d-flex justify-content-between align-items-center">Category 1<span class="badge bg-primary">5</span></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Category 2<span class="badge bg-primary">8</span></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Category 3<span class="badge bg-primary">3</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>


    <!-- Contact Section -->
    <div id="contact" class="content d-none">
      <div class="row">
        <div class="col-md-8">
          <h1>Latest Posts</h1>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title post-title">Post 1</h5>
              <p class="card-text">Published on: May 1, 2023</p>
              <p class="card-text">Comments: 10</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title post-title">Post 2</h5>
              <p class="card-text">Published on: May 2, 2023</p>
              <p class="card-text">Comments: 5</p>
            </div>
          </div>
          <!-- Add more post cards as needed -->
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h2>Categories</h2>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">Category 1<span class="badge bg-primary">5</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Category 2<span class="badge bg-primary">8</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Category 3<span class="badge bg-primary">3</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Login section -->
    <div id="login" class="content d-none">
      <section class="section register min-vh-10 py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Log into your account</h5>
                    <p class="text-center small">Enter your email and password</p>
                  </div>
                  <form class="row g-3" action="./login" method="post" id="loginForm">
                    <div class="col-12">
                      <label for="email" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <input type="email" name="email" class="form-control" id="email" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="password" class="form-label">Mot de passe</label>
                      <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" name="connexion">Next</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Inscription section -->
    <div id="register" class="content d-none">
      <section class="section register min-vh-10 py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-2 pb-4">
                    <h5 class="card-title text-center pb-0 fs-4">Create an account</h5>
                  </div>
                  <form class="row g-3" action="/account/newAccount" method="post" id="registerForm">
                    <div class="col-12">
                      <label for="name" class="form-label">Full Name </label>
                      <div class="input-group has-validation">
                        <input type="text" name="name" class="form-control" id="nameR" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <div class="input-group has-validation">
                        <input type="text" name="email" class="form-control" id="emailR" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="passwordR" required>
                    </div>

                    <div class="col-12">
                      <label for="repassword" class="form-label">Repeat Password</label>
                      <input type="password" name="repassword" class="form-control" id="repasswordR" required>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" name="connexion">Sign Up</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- About Section -->
    <div id="about" class="content d-none">
        <main>
          <section class="py-5">
            <div class="container">
              <h1>About</h1>
              <p>Welcome to My Blog! We are a platform dedicated to providing high-quality content on various topics.</p>
              <p>Our team of passionate writers aims to deliver informative and engaging articles to our readers.</p>
              <p>Explore our blog and discover a wealth of knowledge and inspiration.</p>
            </div>
          </section>
        </main>
      
    </div>

  
  <!-- Fin container -->
  </div>

    <script>

      
    </script>
  </body>
</html>




