<!DOCTYPE html>
<html>
<head>
    <title>Blog SPA</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/script.js"></script>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        .content {
            padding: 20px;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#" class="nav-link" data-link="home">Home</a></li>
            <li><a href="#" class="nav-link" data-link="login">Login</a></li>
            <li><a href="#" class="nav-link" data-link="register">Register</a></li>
        </ul>
    </nav>

    <div id="home" class="content">
        <h1>Welcome to the Blog!</h1>
        <p>This is the home page of the blog.</p>
    </div>

    <div id="login" class="content hidden">
        <h1>Login</h1>
        <form id="loginForm">
            <input type="text" placeholder="Username" id="username">
            <input type="password" placeholder="Password" id="password">
            <button type="submit">Login</button>
        </form>
    </div>

    <div id="register" class="content hidden">
        <h1>Register</h1>
        <form id="registerForm">
            <input type="text" placeholder="Username" id="regUsername">
            <input type="password" placeholder="Password" id="regPassword">
            <button type="submit">Register</button>
        </form>
    </div>

    <script>
        
    </script>
</body>
</html>





<!-- For comments  -->
<div class="container mt-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
              <div class="bg-white p-2">
                  <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                  </div>
                  <div class="mt-2">
                      <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
              </div>
              <div class="bg-white">
                  <div class="d-flex flex-row fs-12">
                      <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                  </div>
              </div>
              <div class="bg-light p-2">
                  <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                  <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
              </div>
          </div>
      </div>
  </div>
</div>