body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F7F6F6;
}

.logo{
  width: 6em;
  margin-right: 2em;
}

.navbar-nav .nav-item a{
  font-size: 1.3em;
  color: rgb(25, 24, 24);
  border-bottom: transparent 2px solid;
}

.navbar-nav .nav-item a:hover{
  border-bottom-color: #0F172A;
}

nav{
  margin-bottom: 1em;
  background-color: #EDF2F7;
}


.invalid-input {
  border: 2px solid red;
}

#errorDiv {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  width: 50%;
  margin: auto;
}

.close {
  position: relative;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  transition: opacity 0.15s linear;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.close:hover {
  color: #000;
  opacity: 0.75;
}


.link-muted { 
  color: #aaa;
  font-size: 1.2em;
  margin-left: 7px; 
} 
.link-muted:hover { 
  color: #1266f1; 
}


.active{
  font-weight: bold;
}

.post-title{
    text-decoration: none;
    color: #082f49;
    margin-bottom: 1em;
}

.post-title:hover{
  color: #082f49;
}