body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EFEEE5;
}

.logo{
  width: 6em;
  margin-right: 2em;
}

.navbar-nav .nav-item a{
  font-size: 1.3em;
  color: rgb(25, 24, 24);
}

nav{
  margin-bottom: 1em;
}


.invalid-input {
  border: 2px solid red;
}

#errorDiv {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  width: 50%;
  margin: auto;
}

.close {
  position: relative;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  transition: opacity 0.15s linear;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.close:hover {
  color: #000;
  opacity: 0.75;
}

